<h1 mat-dialog-title>Add new category</h1>
<div mat-dialog-content>
  <form [formGroup]="form" class="example-form">
    <mat-form-field class="formControls">
      <input matInput placeholder="Name" [formControl]="name">
      <mat-hint>Enter full name category!</mat-hint>
      <mat-error *ngIf="name.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close('no')">Cancel</button>
  <button mat-button (click)="_onSave(form.value)" cdkFocusInitial>Save</button>
</div>