/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  outline: none;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.header{
  &.mat-toolbar{
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    z-index: 100;
    position: fixed;
  }
}
.main{
  display: flex;
  flex-direction: row;
  height:calc(100vh - 64px) ;
  padding-top: 64px;
  .side-nav{
    width: 256px;
    background-color: #ebebeb;
  }
}
.nav-items{
  display: flex;
  margin-top: 24px;
  flex-direction: column;
  .nav-item{
    &.mat-button{
      width: 100%;
      display: flex;
      align-items: center;
      color: #202124;
      .mat-icon{
        margin-right: 16px;
      }
      &.active{
        color: #d93025;
      }
    }
  }
}
.nav-chapter{
  display: flex;
  flex-direction: row;
  width: 100%;
  h4{
    flex: 1;
    margin: 0;
    font-size: 26px;
    font-family: 'Google Sans',Roboto,sans-serif;
  }
}
.contain{
  padding: 24px;
  width: 100%;
}
.formControls{
  width: 100%;
}

.app-layout{
  display: flex;
  flex-direction: row;
  padding-top: 64px;
}
.sidebar{
  background-color: #ebebeb;
  width: 260px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .sidebar-item{
    padding: 8px 16px;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    .mat-icon{
      margin-right: 8px;
    } 
    &.active{
      color: #3f51b5;
      .mat-icon{
        color: #3f51b5;
      }
    }
  }
}
.puc-sidebar{
  &.mat-toolbar{
    position: fixed;
  }
}
.app-contain{
  width: 100%;
  padding: 24px;
}
.data-table{
  width: 100%;
  margin-top: 20px;
  .mat-table{
    width: 100%;
  }
}