<div class="sidebar">
  <button routerLinkActive="active" [routerLink]="['/apps/home']" class="sidebar-item" mat-button>
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button routerLinkActive="active" [routerLink]="['/apps/category']" class="sidebar-item" mat-button>
      <mat-icon>home</mat-icon>
      <span>Category</span>
    </button>
    <button routerLinkActive="active" [routerLink]="['/apps/product']" class="sidebar-item" mat-button>
      <mat-icon>home</mat-icon>
      <span>Product</span>
    </button>

    <button routerLinkActive="active" [routerLink]="['/apps/product']" class="sidebar-item" mat-button>
      <mat-icon>home</mat-icon>
      <span>Test git</span>
    </button>

    <button routerLinkActive="active" [routerLink]="['/apps/product']" class="sidebar-item" mat-button>
      <mat-icon>home</mat-icon>
      <span>Test git1</span>
    </button>
</div>